@model IEnumerable<LogicaNegocio.Dominio.Pedido>

@{
    ViewData["Title"] = "Listado";
}

<h1>Pedidos</h1>

<p>
    <a asp-action="Create">Crear nuevo pedido.</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Tipo)
                {
                    <span>Express</span>
                }
                else
                {
                    <span>Comun</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iva)
            </td>
            @if (ViewBag.Anulados == false)
            {
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Anular pedido</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
